<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>assets</key>
		<array>
			<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>https://github.com/jackHappyDev/xx/blob/master/123.ipa</string>
			</dict>
			<dict>
				<key>kind</key>
				<string>full-size-image</string>
				<key>needs-shine</key>
				<true/>
				<key>url</key>
				<string>https://yuenan8.oss-cn-beijing.aliyuncs.com/ios/1024store_1024pt.png</string>
			</dict>
			<dict>
				<key>kind</key>
				<string>display-image</string>
				<key>needs-shine</key>
				<true/>
				<key>url</key>
				<string>https://yuenan8.oss-cn-beijing.aliyuncs.com/ios/1024store_1024pt.png</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>bundle-identifier</key>
			<string>top.biyingwin20.game</string>
			<key>bundle-version</key>
			<string>2.2.6</string>
			<key>kind</key>
			<string>software</string>
			<key>title</key>
			<string>TẤT THẮNG</string>
		</dict>
	</dict>
</array>
</plist>
